# ==================================================
# Direct Application Dependencies
# ==================================================
# List only the packages your application directly imports.
# Pip will handle resolving and installing all sub-dependencies.

Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==22.0.0
python-dotenv==1.0.1
requests==2.32.3
PyJWT==2.8.0
yfinance==0.2.40
google-generativeai==0.7.1
